<div class="planet-detail-wrapper">
    <a class="planet-detail-link"
       href="planets/<%= dwarfPlanet %>"><%= dwarfPlanet.toUpperCase() %></a>
    <div class="planet-img-wrapper">
        <img class="planet-img-frame" src="/images/dwarf-planets/<%= dwarfPlanet %>.jpg"
             alt="<%= dwarfPlanet.toUpperCase() %>">
    </div>
</div>