<div class="sidebar-wrapper">
    <div class="author-info-wrapper">
        <div class="author-img-wrapper">
            <img class="author-img-frame" src="/images/author.jpg" alt="Khanh Huynh">
        </div>
        <h6 class="author-name">
            Author: Khanh Huynh
        </h6>
    </div>
    <div class="source-code-wrapper">
        <h6>
            Github:
            <a href="https://github.com/khanhhuynhsync/my-very-first-web.git">link</a>
        </h6>
    </div>
</div>