<header class="header-wrapper">
    <section class="page-label">
        <h1>Solar System Exploration
            <sup>
                <a href="https://science.nasa.gov/solar-system/">NASA</a>
            </sup>
        </h1>
    </section>
    <nav>
        <div id="headerNavMenu" class="header-nav-menu">
            <a class="header-nav-menu-item" href="/">Home</a>
            <a class="header-nav-menu-item" href="/contact">Contact</a>
            <a class="header-nav-menu-item" href="/about">About</a>
            <a id="funBtn" class="header-nav-menu-item" href="/fun">Fun!!!</a>
        </div>
    </nav>
</header>