* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-image: url("../images/background.jpg");
    background-size: 100% auto;
}

hr {
    width: 100%;
    background-color: #262A56;
}

h1, h2 , h3 {
    color: #262A56;
}

p, label, button, select, option {
    color: #262A56;
}

button:hover {
    color: #F5F5F5;
    background-color: #262A56;
}

/**********************************************************************************/
.header-wrapper {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 20px;
    z-index: 2;
    background-color: #F5F5F5;
}

.header-nav-menu {
    display: flex;
}

.header-nav-menu-item {
    margin-left: 10px;
    margin-right: 10px;
    padding: 2px;
}

.header-nav-menu-item:hover {
    color: #F5F5F5;
    background-color: #262A56;
    box-shadow: 1px 1px 10px 1px #47B5FF;
    transition: 0.3s;
}

.page-label {
    text-align: center;
    font-size: large;
}

/**********************************************************************************/
.main-wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #F5F5F5;
}

.planet-detail-wrapper {
    display: flex;
    align-items: center;
    margin: 3px;
    background-color: #262A56;
}

.planet-detail-wrapper > a {
    color: #F5F5F5;
}

.planet-page {
    width: 200px;
    text-align: center;
}

.img-wrapper {
    width: 100%;
    height: 100px;
    overflow: hidden;
}

.img-frame {
    width: 100%;
    max-height: 100px;
    object-fit: cover;
    transition: max-height 1s;
}

.planet-detail-wrapper:hover {
    background-color: #AFD3E2;
    box-shadow: -10px 0 10px #47B5FF;
    transition: 0.3s;
}

.planet-detail-wrapper:hover .planet-page {
    font-weight: bold;
}

.planet-detail-wrapper:hover > a {
    color: #262A56;
}

.img-wrapper:hover {
    overflow: unset;
    z-index: 1;
}

.img-frame:hover {
    max-height: 1000px;
}

.form-practice {
    border: double #262A56;
}

input[type="email"] {
    background-color: #f5e8e8;
}

#comment {
    background-color: #f1efef;
}

/**********************************************************************************/
.footer-wrapper {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 20px;
    background-color: #F5F5F5;
}

/**********************************************************************************/
@media (max-width: 1000px) {
    .header-wrapper {
        flex-direction: column;
    }
}