.body-wrapper {
    display: flex;
    justify-content: center;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-right: 5px;
    padding: 20px;
    width: 100%;
    background-color: #F5F5F5;
}

.planet-details-wrapper > article {
    margin-top: 20px;
}

.sidebar-wrapper {
    position: sticky;
    top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: fit-content;
    padding: 10px;
    background-color: #F5F5F5;
}

.author-info-wrapper {
    text-align: center;
}

.author-img-wrapper {

}

.author-img-frame {
    width: 200px;
    border-radius: 50%;
}

.author-name {
    margin-top: 10px;
    margin-bottom: 10px;
}

.source-code-wrapper {
    max-width: 200px;
}

@media (max-width: 1000px) {
    .body-wrapper {
        align-items: center;
        flex-direction: column;
    }
    .main-wrapper {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .sidebar-wrapper {
        position: unset;
        justify-content: space-around;
        width: 100%;
        align-self: flex-start;
        flex-direction: row;
    }
    .author-img-frame {
        width: 100px;
    }

}